/* Hoja de estilo para página de inicio de sesión - SmartFlex Training */

html{
    font-size:16px;
    font-family: 'Poppins', sans-serif;
    height:100%;
    background-image:linear-gradient(to bottom right, #2C228C, #308AC9);
}

#logo {
    height: 15%;
    width: 15%;
    margin-left: 84%;

}

h1 {
    font-size: 5rem;
    font-weight: 700;
    color: #F5F8FA;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    padding: 0%;
}

.content {
    border-color: none;
    align-items: center;
    display: block;
    padding-bottom: 0%;
}

.registro {
    margin: 0%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 50px;
    border-color: none;
    align-items: center;
    display: block;
}

.form {
    background-image: linear-gradient(to bottom right, #84D2F6, #F5F8FA);
    padding: 10px;
    width: 50%;
    padding-left: 30px;
    margin: 1.2%;
    font-size: 1.5rem;
    align-items: center;
    color: #2C228C;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    display: inline-block;
    border-radius: 50px;
    border-style: hidden;
}

::placeholder {
    color: #59A5D8;
}


.iniciar-sesion {
    background-color: #F5F8FA;
    color: #2C228C;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1% 2%;
    margin-top: 3%;
    margin-bottom: 2%;
    text-decoration: none;
    text-align: right;
    float: right;
    margin-right: 24%;
}
