/*
Intro a CSS

SELECTORES
    .clase
    #id
    etiqueta
    div:hover <--- Pseudo-clase
*/

html{
    font-size:15px;
}


#table_body tr{
    background-color: rgb(139, 36, 36);
}

input[type="text"]{
    background-color: rgb(139, 36, 36);
    border-bottom: 10px solid red;
    border-radius: 10px;
    padding-left: 7px;
}

.btn-aceptar{
    background-color: blue;
    border-radius: 5px;
}

#password{
    font-family: 'Courier New', Courier, monospace;
}